* {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

body {
    background-color: #FFFFFF;
}

header {
    display: flex;
    position: absolute;
    justify-content: space-around;
    background-color: #E0E0E0;
    width: 100vw;
    height: 10vh;
}

.body {
    position: relative;
    top: 11vh;
}

.logotipo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.titulo-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font: 600;
    font-size: 20px;
    line-height: 24px;
}

#conteudo-menu {
    display: none;
}

.hamburguer {
    display: flex;
    cursor: pointer;
    position: fixed;
    display: block;
    height: 07px;
    width: 25px;
    top: 26px;
    right: 10px;
}

.hamburguer span {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background: #333333;
    transition: 0.25 ease-in-out;
}

.hamburguer span:nth-child(1) {
    top: 0px;
}

.hamburguer span:nth-child(2) {
    top: 8px;
}

.hamburguer span:nth-child(3) {
    top: 16px;
}

#ocutarmenu {
    margin: 10px;
    position: absolute;
}

.conteudo-menu {
    display: flex;
    flex-direction: column;
    left: 5em;
    width: 83.3vw;
    height: 90vh;
    position: absolute;
    background-color: #333333;
}

nav {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 83.3vw;
    height: 109vh;
    background-color: #333333;
    z-index: 999;
}

.conteudo-menu a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 10vw;
}

.conteudo-menu a:hover , a:focus{
    background-color: #C4C4C4;
}

.btn-limpar{
    margin-bottom: 6vw;
    width: 100%;
    position: relative;
}

/* Estilo do body*/

.form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #979797;
    padding: 10px 6px 20px;
}

#nova-transacao,
.nome,
.input {
    display: block;
    width: 91vw;
    padding: 2vw;
    border-radius: 1vh;
    border-color: #979797;
}

.tp-transacao {
    position: relative;
    padding: 2vw;
}

.input {
    border: 1px solid #979797;
}

#nova-transacao {
    border: 1px solid #979797;
    width: 96vw;
}

.adc-transacao-btn {
    background-color: #333333;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96vw;
    margin-top: 15px;
    height: 3.5vh;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    border-radius: 1vh;
    padding: 12px;
}

/* Estilo tabela extrato de transações*/

.table {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

#tbl-cabecalho {
    display: flex;
    margin-left: 4vh;
    margin-right: 10vh;
    margin-bottom: 10px;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

tbody{
    display: table;
}

.titulo-tabela {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cabecalho-tabela {
    border-bottom: 1px solid rgb(151, 151, 151);
}

.lucro-preju {
    font-size: 10px
}

.mercadoria,
.valor-mercadoria {
    border-bottom: solid;
    border-bottom-width: 0.1px;
    border-bottom-color: rgb(151, 151, 151);

}

.border-double {
    border-bottom: double;
    border-bottom-color: rgb(151, 151, 151);
}

.total {
    font-weight: bold;
}

.titulo-form{
    display: none;
}