* {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

body {
    background-color: #FFFFFF;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #E0E0E0;
    width: 100vw;
    height: 60px;
}

img {
    width: 30px;
    height: 27.63px;
}

.body {
    margin: 0 20px;

}

.logotipo {
    margin-left: 22px;
}

.titulo-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

#conteudo-menu {
    display: none;
}

.hamburguer {
    cursor: pointer;
    display: block;
    height: 2px;
    width: 18px;
    margin: 24px 0 34px 0;
    margin-right: 21px;
}

.hamburguer span {
    display: block;
    height: 2px;
    width: 18px;
    border-radius: 30px;
    margin: 4px 0px 0px;
    background: #333333;
}

.hamburguer span:nth-child(1) {
    top: 0px;
}

.hamburguer span:nth-child(2) {
    top: 8px;
}

.hamburguer span:nth-child(3) {
    top: 16px;
}

#ocutarmenu {
    margin: 10px;
    position: absolute;
}



nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 351px;
    height: 1000px;
    background-color: #333333;
    z-index: 999;
}

.btn-limpar {
    margin: 62px 0 7px 0;
}

.conteudo-menu {
    position: absolute;
}

.conteudo-menu a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px 0 0;
    height: 32px;
}


.conteudo-menu a:hover,
a:focus {
    background-color: #C4C4C4;
}

/* Estilo do body*/

.form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #979797;
}

#nova-transacao,
.nome,
.input,
.adc-transacao-btn {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border-color: #979797;
}

.conteudo-form {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.tp-transacao {
    position: relative;
    padding: 2vw;
}

.input {
    border: 1px solid #979797;
}

.adc-transacao-btn {
    background-color: #333333;
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 4px;
    border-bottom: 1px solid #979797;
    margin-bottom: 29px;
}

/* Estilo tabela extrato de transações*/

table {
    margin: 20px 0 30px 0;
    border-collapse: collapse;
    width: 100%;
    height: 281px;
    margin-bottom: 30px;
}

.titulo-tabela {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    height: 20px;
    margin: 21px 0 0 0;
    text-align: center;
}

#tbl-cabecalho {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #979797;
}

.mais-menos {
    width: 10%;
}

.mercadoria {
    width: 70%;
}

.valor-mercadoria {
    padding: 7px 0 8px 0;
    width: 20%;
}

thead {
    width: 100%;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: #000000;
}

tbody {
    width: 100%;
    display: table;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}


.cabecalho-tabela {
    border-bottom: 1px solid rgb(151, 151, 151);
}

.lucro-preju {
    font-size: 10px
}

.mais-menos,
.mercadoria,
.valor-mercadoria {
    border-bottom: 1px solid #979797;

}

.duas-bordas {
    border-bottom: double;
    border-bottom-color: #979797;
}

.total {
    border-top: double;
    border-color:#979797;
    font-weight: bold;
}

.titulo-form {
    display: none;
}

.lucro {
    width: 98px;
    height: 18px;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #000000;
}

#total {
    border: none;
    padding: 7px 0 0 0;

}


footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-bottom: 8px solid #333333;
}

/* Estilo das medias */

@media (min-width:768px) {

    nav {
        width: 252px;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 189px;
        border: 1px solid #979797;
        border-radius: 4px;
        flex-direction: inherit;
        margin: 20px 0;
    }

    .adc-transacao-btn {
        box-sizing: border-box;
        width: 200px;
        height: 32px;
        margin: 0;
        position: fixed;
        top: 216.78px;
        right: 0;
        margin-right: 40px;
    }

    .titulo-form {
        display: block;
        position: absolute;
        top: 100px;
    }

    .conteudo-form {
        margin: 21px 20px 20px;
    }

    .tp-transacao {
        padding: 0;
    }

    #nova-transacao,
    #valor-input {
        width: 100%;
    }

    #nome-mercadoria {
        margin: 0;
        width: 60%;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

}

@media (min-width:768px) and (orientation:landscape) {

    body {
        max-width: 1112px;
    }

    header {
        height: 80px;
    }

    img {
        width: 40px;
        height: 36.84px;
    }

    #titulo-cabecalho {
        position: absolute;
        margin: 0 0 0 82px;
    }

    .menu {
        display: none;
    }

    #conteudo-menu {
        display: block;
        position: inherit;
    }

    #ocutarmenu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 40px;
        position: inherit;
        z-index: 0;
        background-color: #FFFFFF;
        margin: 20px 20px 20px 0;
        padding: 4px 20px;
    }

    .conteudo-menu a {
        width: initial;
        display: initial;
        color: initial;
        height: 32px;
        height: initial;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    .conteudo-menu a:hover , a:focus{
        background-color: initial;
    }

    #btn-cadastro {
        padding: 0 0 0 20px;
    }

    .btn-limpar {
        margin: initial;
        border-right: 1px solid #979797;
    }

    /* Estilo body */

    .form {
        margin: 26px 0;
        width: 400px;
        height: 344px;
        flex-direction: column;
        padding: 0 14.09px;
        justify-content: initial;
    }

    .conteudo-form {
        margin: initial;
    }

    .conteudo-form,
    #nome-mercadoria {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }


    .titulo-form {
        position: initial;
        top: initial;
        margin: 21px 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    .adc-transacao-btn {
        position: initial;
        width: 400px;
        margin-right: initial;
    }

    .tabela {
        width: 652px;
        height: 281px;
        margin: 26px 20px;
    }

    .body {
        display: flex;
        justify-content: center;
    }

    tbody {
        height: 60%;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

}

@media (min-width:1500px) {
    .body {
        width: 100%;
        margin: 0 200px;
    }

    .logotipo {
        margin: 0 0 0 200px;
    }

    .titulo-header {
        margin-left: 170px;
    }

    nav {
        margin-right: 200px;
    }
}