/* Definindo fonte e tamanho máximo do corpo*/
@media (min-width:1024px) and (max-width:1900px) {

    * {
        padding: 0;
        margin: 0;
    }
    
    
    /* Estilizando o cabeçalho */
    
    header {
        display: flex;
        align-items: center;
        background-color: #E5E5E5;
        width: 100%;
        height: 5em;
        justify-content: space-around;
    }
    
    .logotipo {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        font-style: normal;
        color: #333333;
    
    }
    
    .logotipo img {
        width: 40px;
        margin-right: 10px;
    }
    
    
    .menu {
        background: #FFFFFF;
        height: 42px;
        width: 21em;
        align-items: center;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        
    }
    
    .btn-limpar {
        border-right: 1px solid;
        padding-right: 10px;
        border-right-color: #979797;
    }
    
    
    a {
        text-decoration: none;
        color: #333333;
    }
    
    #btn-mobile{
        display: none;
    }


    body {
        font-family: 'Lato', sans-serif;
    }

    .body {
        max-width: 1100px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left: 50px;
        margin-left: 8.5em;
    }

    .form {
        display: inline-block;
    }

    .form {
        margin-right: 5em;
        width: 400px;
        height: 344px;
        border: 1px solid;
        box-sizing: border-box;
        border-color: #979797;
        border-radius: 4px;
        padding: 19px;
    }

    .titulo-form {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        height: 50px;
        margin-top: 5px;
    }

    .tp-transacao {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #333333;
    }

    .nome {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #333333;
    }

    .input {
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        border-radius: 4px;
        margin-top: 6px;
        border: 1px solid #979797;
        background: #FFFFFF;
    }

    .nome {
        margin-top: 2%;
    }

    .adc-transacao-btn {
        background: #333333;
        border-radius: 4px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        width: 100%;
        margin-top: 27px;
        padding: 1px;
    }

    .checkbox-menu {
        display: none;

    }


    /* Estilizando tabela */

    #mercadoria {
        text-align: start;
    }

    table {
        border-collapse: collapse;
        width: 514px;
        height: 196px;
        left: 440px;
        top: 130px;
    }

    .titulo-tabela {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .subtitulo-tabela {
        text-align: justify;
    }


    .lucro-preju {
        font-size: 10px
    }

    .mercadoria,
    .valor-mercadoria {
        border-bottom: solid;
        border-bottom-width: 0.1px;
        border-bottom-color: rgb(151, 151, 151);

    }

    .border-double {
        border-bottom: double;
        border-bottom-color: rgb(151, 151, 151);
    }

    .total {
        font-weight: bold;
    }
}

   