@media (min-width:768px) and (max-width: 1023px) {
    header {
        justify-content: space-between;
        position: inherit;
    }

    .titulo-header {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
    }

    .hamburguer {
        top: 20px;
        right: 13px;
    }

    svg {
        position: relative;
        left: 17px;
    }

    .form {
        position: relative;
        bottom: 8vh;
        flex-direction: initial;
        justify-content: center;
        align-items: center;
        width: 94vw;
        height: 13rem;
        padding: 0 10px;
        border: 1px solid #979797;
        margin: 0 13px;
    }


    #nova-transacao,
    .nome,
    .input {
        display: initial;
        width: 28vw;
        padding: 1vw;
        border-radius: 5px;
    }

    .adc-transacao-btn {
        position: absolute;
        top: 11em;
        left: 66vw;
        width: 29vw;
        margin-top: auto;
    }

    #nova-transacao {
        width: 10rem;
    }

    .tp-transacao {
        padding: 0;
        position: relative;
        bottom: 10px;
    }

    .nome {
        position: relative;
        bottom: 8px;
    }

    #nm-merca {
        width: 21rem;
        position: relative;
        right: 18px;
    }

    #nm-merca,
    #valor-input {
        height: 19px;
    }

    #valor-input {
        width: 10rem;
    }

    .titulo-form {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
    }

    /* Estilos da tabela */

    .titulo-tabela {
        margin-bottom: 20px;
        margin-top: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        position: relative;
        bottom: 40px;
    }

    .table {
        position: relative;
        bottom: 48px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding: 0 20px;
    }

    .conteudo-menu {
        left: 29.5em;
        width: 39.3vw;
        height: 90vh;
    }

    nav {
        width: 38.3vw;
        height: 94vh;
    }

    .conteudo-menu a {
        width: 95%;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding: 0 15px 0px 0;
    }
}
